@import url('https://fonts.googleapis.com/css?family=Frijole|Peralta|Ubuntu+Mono|Concert+One');

*,
*:after,
*:before: {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: sans-serif, serif;
  height: 100%;
}

.doc-title .app-name {
  font-family: 'Frijole', sans-serif, serif;
  font-size: 4em;
  text-align: center;
}

#click-counter {
  border: 0.15em groove rgb(200, 97, 231);
  border-radius: 1em;
  font-family: 'Peralta', sans-serif, serif;
  font-size: 2.5em;
  padding: 0.35em;
  letter-spacing: 0.1em;
}

.clicks {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1.25em;
  font-weight: bold;
}

.cat-container {
  float: left;
  margin-left: 1.5em;
}

.cat-name {
  font-family: 'Concert One', monospace, sans-serif, serif;
  font-size: 2.5em;
  text-align: center;
}

.click-area {
  border: 0.2em ridge rgb(69, 112, 221);
  border-radius: 5em;
  box-shadow: 1em 1em 3em rgb(223, 213, 164);
  height: 50%;
  margin: 0 auto;
  width: 55%;
  padding: 1em 0 2em 2em;
}

.click-area .cat {
  border: 1px solid rgb(0, 0, 0);
  display: block;
  cursor: pointer;
  height: 350px;
  width: 450px;
}

.shadow {
  text-shadow: 0.05em 0.04em rgb(98, 96, 105);
}
